.login-page {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #9b9b79;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  display: flex;
}
.login-window {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  align-items: start;
  display: flex;
  padding: 40px;
  row-gap: 8px;
  width: 400px;
}
.login-title {
  font-weight: bold;
  color: #9b9b79;
  font-size: 24px;
}
.login-subtitle {
  font-size: 16px;
}

.login-form {
  flex-direction: column;
  display: flex;
  row-gap: 8px;
  width: 90%;
}
.login-label {
  font-size: 16px;
}
.login-error {
  margin-bottom: 5px;
  font-size: 14px;
  color: red;
}
.login-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-button {
  align-self: center;
  width: 100%;
  padding: 5px;
  background-color: #9b9b79;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.login-register-link {
  color: #9b9b79;
  text-decoration: none;
  font-weight: bold;
}